*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.jumbotron{
    padding: 20px;

}

/* nabar  */
nav {
    background: #333;
    color: #f1f1f9;
    padding: 10px;
}

.nav-edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-edit .logo {
    display: flex;
    align-items: center;
}

.logo .logo-text {
    color: red;
}

.nav-links {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown {
    display: flex;
    position: static;
    flex-direction: column;
}

.dropdown .dropdown-toggle {
    padding: 10px;
    background: inherit;
    font-weight: 700;
    border: none;
    color: inherit;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
        color: aquamarine;
    }
}

.dropdown-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    list-style-type: none;
    background: #333;
    padding: 10px 2px;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: .3s ease-in-out;

    &.show-drop {
        top: 7%;
        opacity: 1;
        visibility: visible;
        display: flex;
    }
}

li a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    margin: 10px;
    padding: 10px;
    transition: .2s ease-in-out;

    &:hover {
        background-color: #444;
        color: aquamarine;
    }
}

.tombol {
    position: relative;
    width: 50px;
    height: 20px;
    display: flex;
    gap: 5px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
    display: none;
}

.tombol span {
    background: #fff;
    display: inline-block;
    width: 20px;
    height: 2px;
    border-radius: 2px;
}

main{
    padding: 20px;
}

.card{
    margin-top: 10px;
    border:1px solid #452;
    padding: 19px;
}

@media screen and (max-width:780px) {
    .tombol {
        display: flex;
    }

    .nav-links {
        position: fixed;
        background: #333;
        top: 0;
        width: 350px;
        height: 100vh;
        right: -100%;
        visibility: hidden;
        display: flex;
        opacity: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: .2s ease-in-out;

        &.show {
            opacity: 1;
            visibility: visible;
            right: 0;
        }
    }

    .dropdown-menu {
        position: static;
    }
}

/* navbar end */